<h1>User Details</h1>

<div>
  {{user.firstName}} {{user.lastName}} <br>
  {{user.email}} <br>
  password: {{user.password}} <br>
  <hr>

  <a href="/users/edit/{{user._id}}">edit</a>
   <a href="">delete</a>
</div>

