<h1>User Details</h1>

<div>
  {{user.firstName}} {{user.lastName}} <br>
  {{user.email}} <br>
  password: {{user.password}} <br>
  <hr>

  <a class="button" href="/users/edit/{{user._id}}">edit</a>
  <a class="button user-delete" data-id={{user._id}} href="">delete</a>

</div>

