<h1>All Users</h1>

<ul>
  {{#each users}}

  <li>
    {{this.firstName}}  {{this.lastName}}<br>
    {{this.email}}<br>
    plain-text password: {{this.password}}<br>
    <a href="/users/{{this._id}}">details</a>
  </li><br>

  {{/each}}
</ul>