<h2>All Users</h2>

<ul>
  {{#each users}}

  <li>
    {{this.firstName}}  {{this.lastName}}<br>
    {{this.email}}<br>
    plain-text password: {{this.password}}<br><br>
    <a class="button" href="/users/{{this._id}}">details</a>
  </li><br>

  {{/each}}
</ul>